<html>
<head>
    <title>FSA Authority Comparison Tool</title>
</head>
<body style="margin: auto">
	<h1>FSA Authority Comparison Tool</h1>

	<div style="float: left; width: 50%;">
		<h2>Authority One</h2>
		<table>
			<thead>
				<td>Rating</td>
				<td>Number of establishments</td>
			</thead>
			<tbody>
				<tr>
					<td>Pass </td>
					<td>{{.AuthorityOneSummary.Pass}}</td>
				</tr>
				<tr>
					<td>PassAndEatSafe </td>
					<td>{{.AuthorityOneSummary.PassAndEatSafe}}</td>
				</tr>
				<tr>
					<td>ImprovementRequired </td>
					<td>{{.AuthorityOneSummary.ImprovementRequired}}</td>
				</tr>
				<tr>
					<td>AwaitingInspection </td>
					<td>{{.AuthorityOneSummary.AwaitingInspection}}</td>
				</tr>
				<tr>
					<td>AwaitingPublication </td>
					<td>{{.AuthorityOneSummary.AwaitingPublication}}</td>
				</tr>
				<tr>
					<td>Exempt </td>
					<td>{{.AuthorityOneSummary.Exempt}}</td>
				</tr>
				<tr>
					<td>Five </td>
					<td>{{.AuthorityOneSummary.Five}}</td>
				</tr>
				<tr>
					<td>Four </td>
					<td>{{.AuthorityOneSummary.Four}}</td>
				</tr>
				<tr>
					<td>Three </td>
					<td>{{.AuthorityOneSummary.Three}}</td>
				</tr>
				<tr>
					<td>Two </td>
					<td>{{.AuthorityOneSummary.Two}}</td>
				</tr>
				<tr>
					<td>One </td>
					<td>{{.AuthorityOneSummary.One}}</td>
				</tr>
				<tr>
					<td>Zero </td>
					<td>{{.AuthorityOneSummary.Zero}}</td>
				</tr>
			</tbody>
		</table>
	</div>

    <div style="float: right; width: 50%;">
        <h2>Authority Two</h2>
        <table>
            <thead>
            <td>Rating</td>
            <td>Number of establishments</td>
            </thead>
            <tbody>
				<tr>
					<td>Pass </td>
					<td>{{.AuthorityTwoSummary.Pass}}</td>
				</tr>
				<tr>
					<td>PassAndEatSafe </td>
					<td>{{.AuthorityTwoSummary.PassAndEatSafe}}</td>
				</tr>
				<tr>
					<td>ImprovementRequired </td>
					<td>{{.AuthorityTwoSummary.ImprovementRequired}}</td>
				</tr>
				<tr>
					<td>AwaitingInspection </td>
					<td>{{.AuthorityTwoSummary.AwaitingInspection}}</td>
				</tr>
				<tr>
					<td>AwaitingPublication </td>
					<td>{{.AuthorityTwoSummary.AwaitingPublication}}</td>
				</tr>
				<tr>
					<td>Exempt </td>
					<td>{{.AuthorityTwoSummary.Exempt}}</td>
				</tr>
				<tr>
					<td>Five </td>
					<td>{{.AuthorityTwoSummary.Five}}</td>
				</tr>
				<tr>
					<td>Four </td>
					<td>{{.AuthorityTwoSummary.Four}}</td>
				</tr>
				<tr>
					<td>Three </td>
					<td>{{.AuthorityTwoSummary.Three}}</td>
				</tr>
				<tr>
					<td>Two </td>
					<td>{{.AuthorityTwoSummary.Two}}</td>
				</tr>
				<tr>
					<td>One </td>
					<td>{{.AuthorityTwoSummary.One}}</td>
				</tr>
				<tr>
					<td>Zero </td>
					<td>{{.AuthorityTwoSummary.Zero}}</td>
				</tr>
            </tbody>
        </table>
    </div>
</body>
</html>
