<html>
	<head>
		<title>FSA Authority Comparison Tool</title>
	</head>
	<body>
		<h1>FSA Authority Comparison Tool</h1>

		<form method="POST" action="/compare">
			<label >Authority One</label>
				<select name="authority_one">
				{{ range $key, $value := .Authorities }}
					<option value="{{ $value.LocalAuthorityId }}">{{ $value.Name }}</option>
				{{ end }}
				</select>
            <label>Authority Two</label>
				<select name="authority_two">
				{{ range $key, $value := .Authorities }}
					<option value="{{ $value.LocalAuthorityId }}">{{ $value.Name }}</option>
				{{ end }}
				</select>
			<input type="submit">
		</form>

	</body>
</html>
